
<section id="res-section">
	<div class="research">

    <div class="header">
      <h1 class="title">{{ .Site.Params.Research.Title }}</h1>
      <h2 class="subtitle">{{ .Site.Params.Research.Subtitle }}</h2>
		</div>

	  <div class="research-wrapper-ppp">
      {{ range $element := sort .Site.Data.research.published "weight" "desc" }}
        {{ if not .draft }}
          <div class="research-item">
            <figure class="item-header">
              {{ $publi_icon := resources.Get (printf "svg/%s" $element.icon) }}
              {{ if $publi_icon }}
                <img src="{{ $publi_icon.Permalink }}">
              {{ end }}
              {{ $local_paper_path := (printf "papers/%s" $element.local_link)}}
              {{ $local_paper := resources.Get $local_paper_path }}
              {{ if $local_paper }}
                <h3><a href="{{ $local_paper.Permalink }}" target="blank">{{ $element.title }}</a></h3>
              {{ end }}

              {{ if $element.remote_link }}
                <h3><a href="{{ $element.remote_link }}" target="blank">{{ $element.title }}</a></h3>
              {{ end }}
            </figure>
            <p>{{ $element.description | markdownify }}</p>
          </div>
        {{ end }}
      {{ end }}
    </div>

    <div class="research-wrapper-ppp">
      {{ range $element := sort .Site.Data.research.progress "weight" }}
        {{ if not .draft }}
		      <div class="research-item">
		        <figure class="item-header">
              {{ $prog_icon := resources.Get (printf "svg/%s" $element.icon) }}
              {{ if $prog_icon }}
  	            <img src="{{ $prog_icon.Permalink }}">
              {{ end }}
	            {{ $local_paper_path := (printf "papers/%s" $element.local_link)}}
              {{ $local_paper := resources.Get $local_paper_path }}
              {{ if $local_paper }}
                <h3><a href="{{ $local_paper.Permalink }}" target="blank">{{ $element.title }}</a></h3>
              {{ end }}
		        </figure>
		        <p>{{ $element.description | markdownify }}</p>
		      </div>
		    {{ end }}
      {{ end }}
    </div>

    <div class="research-wrapper-presentation">
      {{ range $element := sort .Site.Data.research.presentation "weight" "desc" }}
        {{ if not .draft }}
	        <div class="research-item">
            <figure class="item-header">
              {{ $pres_icon := resources.Get (printf "svg/%s" $element.icon) }}
              {{ if $pres_icon }}
                <img src="{{ $pres_icon.Permalink }}">
              {{ end }}
              {{ $pres_path := (printf "presentations/%s" $element.link) }}
              {{ $pres := resources.Get $pres_path }}
              {{ if $pres }}
                <h3><a href="{{ $pres.Permalink }}" target="blank">{{ $element.title }}</a></h3>
              {{ end }}
            </figure>
            <p>{{ $element.description | markdownify }}</p>
	        </div>
        {{ end }}
      {{ end }}
    </div>
  
  </div>
</section>